/* body{
  background-color: #242F75;
} */
.header{
  text-align: center;
  background-color: #6193B9 ;
  width: 100%;
}
.form-control{
  width: 75%;
}
.card{
  width: 170px;
  float: right;
}
.fiveDayStyle{
  margin-left: 65px;
}
.card-body{
  margin-right: 20px;
}

.dailyForecast{
  margin-left: 235px;
}
.badge-success{
border-radius: 3px;
}
.badge-warning{
border-radius: 3px;
}
.badge-danger{
  border-radius: 3px;
}
/* .jumbotron{
  margin-left: 20px;
} */
.card{
  background-color: #6193B9;
}
