.header{
  text-align: center;
  background-color: #6193B9 ;
  width: 100%;
}
.form-control{
  width: 75%;
}
.card{
  width: 170px;
  float: right;
}

.dailyForecast{
  margin-left: 235px;
}
.badge-success{
border-radius: 3px;
}
.badge-warning{
border-radius: 3px;
}
.badge-danger{
  border-radius: 3px;
}
.jumbotron{
  margin-left: 20px;
}
